.baseStyle {
  display: flex;
  float: left;
  flex-wrap: wrap;
  vertical-align: middle;
  justify-content: space-between;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: center;
  order: 0;
  padding: 10px 10px 10px 10px;
}

.baseStyleVariant {
  @extend .baseStyle;
  cursor: pointer;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  float: left;
}

.flexContainer {
  align-content: stretch;
  font-size: 11px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  vertical-align: middle;
  flex-direction: row;
  justify-content: flex-end;
  width: auto !important;
  padding: 0 0 0 0;
  border:solid 1px #ccc;
  border-radius: 10px;
}

.flexItems:nth-child(1) {
  @extend .baseStyle;
  padding-right: 1px;
}

.flexItems:nth-child(2) {
  @extend .baseStyle;
  padding-left: 1px;
  padding-right: 1px;
}

.flexItems:nth-child(3) {
  @extend .baseStyle;
  padding-right: 1px;
}

.flexItems:nth-child(4) {
  @extend .baseStyle;
}
