.CharacterCard_mainProfileDiv__RFNlH{background-color:#e5e5e5;color:#3c4858;margin:0;font-size:1rem;text-align:left}.CharacterCard_profileContainer__maMNQ{color:#FFFFFF;box-shadow:none;padding-top:25px;background-color:transparent !important}.CharacterCard_topPortion__62Xm-{height:25%;width:100%}.CharacterCard_characterProfileBgImage__rgMeg{height:80%;width:100%;overflow:hidden;background:#009844}.CharacterCard_characterProfileImage__yj\+3t{position:absolute;height:40%;width:15%;border-radius:50%;-webkit-transform:translateX(50%) translateY(-150%);transform:translateX(50%) translateY(-150%);background-color:#0049b7;bottom:8rem;box-shadow:0 5px 15px -8px rgba(0,0,0,0.24),0 8px 10px -5px rgba(0,0,0,0.2);overflow:hidden !important}#CharacterCard_img-profile-id__yZkqB{width:100%;margin:0 auto;max-width:160px;-webkit-transform:translate3d(0, -50%, 0);transform:translate3d(0, -50%, 0);border-radius:50% !important}.CharacterCard_profile__P-0Iv{display:flex}.CharacterCard_profileRight__YhB3y{flex:9 1}.CharacterCard_profileCover__rZYGp{height:320px;position:relative}.CharacterCard_profileCoverImg__s-lFH{width:100%;height:250px;object-fit:cover}.CharacterCard_profileUserImg__KZqBG{width:150px;height:150px;border-radius:50%;object-fit:cover;position:absolute;left:0;right:0;margin:auto;top:150px;border:3px solid white}.CharacterCard_profileInfo__SThBV{display:flex;flex-direction:column;align-items:center;justify-content:center}.CharacterCard_profileInfoName__CCI9M{font-size:24px}.CharacterCard_profileInfoDesc__bQRj0{font-weight:300}.CharacterCard_profileRightBottom__9tK4u{display:flex}.CharacterCard_avatarImg__IEOCc{position:fixed;z-index:1}.CharacterCard_avatarChar__LLa5Y{background:#fff}.CharacterCard_boxItems__HFqOV{display:flex;align-items:center;justify-content:center}

.SubContentWrapper_boxItems__tdzn7{display:flex;align-items:center;justify-content:center}

.SubContentTitle_boxItems__WU02r{display:flex;align-items:center;justify-content:center}

:root{--data-color-white-clear: #fff;--data-color-disabled-gray: rgba(34,34,34,0.25);--data-color-background-clear: #f8f8f8;--data-color-primary: #222;--data-color-secondary: rgba(88,88,88,0.8);--data-color-error: red;--data-color-button-default: #004c98;--data-color-badge-draft: #dbe2e9;--data-color-badge-pending: #41b6e6;--data-color-badge-proposal: #00b388;--data-color-badge-approved: #00b388;--data-color-badge-rejected: #ed5656;--data-color-badge-disabled: rgba(34,34,34,0.08);--data-color-badge-cw1: #7d55c7;--wrapperWidth: 30px;--fontSize: 14px}.CustomTable_wrapper__CjfXH{display:grid;grid-template-columns:30px 220px;grid-template-columns:var(--wrapperWidth) 220px;grid-gap:2px;align-items:center;font-size:14px;font-size:var(--fontSize)}.CustomTable_divSpinnerLoading__4WvIe{top:45%;left:45%}.CustomTable_errorMessage__kvz6s{top:45%;left:30%;color:red;color:var(--data-color-error)}.CustomTable_noDisplay__SGOpy{display:none}.CustomTable_bodyPage__UEpuU{background-color:#f8f8f8;background-color:var(--data-color-background-clear)}.CustomTable_table__lGOXe{border:none;box-shadow:none;background:transparent;border-bottom:2pt solid transparent}.CustomTable_body__CrL2N{border:none;border-bottom:2pt solid transparent}.CustomTable_tableRow__gNZPO{background:#FFFFFF;border-bottom:2px solid #F2F2F2;height:100px}.CustomTable_tableRow__gNZPO:hover{background:#F2F2F2}.CustomTable_tableCell__xRt16{background-color:transparent;border:none transparent;min-width:100px;width:300px}.CustomTable_pagination__8rd8i{font-size:12px;text-align:right}.CustomTable_icon__jP\+08{width:16px}

.table_border__9x5YX{padding:0 0 0 0;vertical-align:auto}

.DetailsCartWrapper_boxItems__aiUDJ{display:flex;align-items:center;justify-content:center}.DetailsCartWrapper_widthBox__wVIAh{min-width:480px}.DetailsCartWrapper_itemList__rYG61{width:auto !important;min-width:0;display:flex;justify-content:center;align-items:center;overflow:hidden}

.DynamicFilter_baseStyle__d5v7Y,.DynamicFilter_baseStyleVariant__NEQMT,.DynamicFilter_flexItems__ingWd:nth-child(1),.DynamicFilter_flexItems__ingWd:nth-child(2),.DynamicFilter_flexItems__ingWd:nth-child(3),.DynamicFilter_flexItems__ingWd:nth-child(4){display:flex;float:left;flex-wrap:wrap;vertical-align:middle;justify-content:space-between;flex-grow:0;flex-shrink:1;flex-basis:auto;align-self:center;order:0;padding:10px 10px 10px 10px}.DynamicFilter_baseStyleVariant__NEQMT{cursor:pointer}.DynamicFilter_flex-container__ed9sc{padding:0;margin:0;list-style:none;display:-moz-flex;display:flex;float:left}.DynamicFilter_flexContainer__2cGP8{align-content:stretch;font-size:11px;display:flex;align-items:center;flex-wrap:nowrap;vertical-align:middle;flex-direction:row;justify-content:flex-end;width:auto !important;padding:0 0 0 0;border:solid 1px #ccc;border-radius:10px}.DynamicFilter_flexItems__ingWd:nth-child(1){padding-right:1px}.DynamicFilter_flexItems__ingWd:nth-child(2){padding-left:1px;padding-right:1px}.DynamicFilter_flexItems__ingWd:nth-child(3){padding-right:1px}

.ContentWrapper_example__m7MdY{color:black}

.LoadingCircle_container__O2xnJ{display:flex;align-items:center;justify-content:center;width:100%;height:50vh;max-height:100%}

.wrapper {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

svg {
  display: inline-block;
  vertical-align: top;
}

h1 {
  font-weight: 900;
  font-size: 20px;
  line-height: 1;
  margin: 6px 0 6px 10px;
  display: inline-block;
  vertical-align: top;
}

button + button {
  margin-left: 10px;
}

.welcome {
  color: #333;
  font-size: 14px;
  margin-right: 10px;
}

.MenuNavBar_example__99rgY{color:black}

section {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  /*padding: 48px 20px;*/
  margin: 0 auto;
  /*max-width: 600px;*/
  color: #333;
}

section h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 1;
  margin: 0 0 4px;
  display: inline-block;
  vertical-align: top;
}

section p {
  margin: 1em 0;
}

section a {
  text-decoration: none;
  color: #1ea7fd;
}

section ul {
  padding-left: 30px;
  margin: 1em 0;
}

section li {
  margin-bottom: 8px;
}

section .tip {
  display: inline-block;
  border-radius: 1em;
  font-size: 11px;
  line-height: 12px;
  font-weight: 700;
  background: #e7fdd8;
  color: #66bf3c;
  padding: 4px 12px;
  margin-right: 10px;
  vertical-align: top;
}

section .tip-wrapper {
  font-size: 13px;
  line-height: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

section .tip-wrapper svg {
  display: inline-block;
  height: 12px;
  width: 12px;
  margin-right: 4px;
  vertical-align: top;
  margin-top: 3px;
}

section .tip-wrapper svg path {
  fill: #1ea7fd;
}


/*# sourceMappingURL=main.c6e1e909.css.map*/