@import './assets/styles/main';

.app {
  width: 100%;
  background-color: #f8f8f8;
  position: sticky;
  top: 80px;
  left: 0;
  z-index: 200;
}

.body {
  margin: 0;
  padding: 0;
}

.toast {
  border: 1px solid colorVar(secondary);
  padding: 16px;
  color: colorVar(primary);
  width: 220px;
}
